grpcio==1.76.0
grpcio-tools==1.76.0
protobuf==6.33.1
pyjwt==2.10.1
python-decouple==3.8
python-dotenv==1.2.1
bcrypt==5.0.0
passlib==1.7.4
sqlalchemy==2.0.44
alembic==1.17.2
psycopg2-binary==2.9.11
redis==7.0.1